{% extends "base.html" %}
{% block title %} ins_16 website {% endblock %}
{% block head %}
<script src="https://dl.dropboxusercontent.com/u/76170850/site/static/js/font.js"></script>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}	
				<div id="index">
					<p>Добро пожаловать на персональную страницу ins'a. Здесь находится мой склад полезных файлов, таких как свежие сборки <a href="#downloads">TotalCommander_ins[pack]</a>, <a href="https://www.dropbox.com/sh/vae66d7t3nxf07h/AAA-eNhRlNaNqRbHlZAShfPZa?dl=0" target="_blank">твики реестра и различные настройки для программ</a>, <a href="https://www.dropbox.com/sh/hwefqy9u2v3ozlu/AAD09tmeYo3POkCUpVL52dsOa?dl=0" target="_blank">исходники программ и демки</a>, <a href="https://www.dropbox.com/sh/dcqowdyp3nt0yq1/AACWMJFRS0S7dg5Rl6V0AXx_a?dl=0" target="_blank">полезный freeware софт</a>. Все файлы хранятся на Dropbox и доступны для скачивания без регистрации.</p>
					<p><b>upd 21.05.2015</b> в связи с отсутствием времени сайт не будет обновляться в течении длительного времени</p>
				</div>
				<div id="contacts">
				<div id="avatar"><img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/avatar.png" /></div>
					<div id="contactslist">
					<ul>
						<li>ins16publick@gmail.com</li>
						<li><a href="http://utox.org/" title="Utox для безопасной переписки" target="_blank">Tox</a> -  Запрос ID по email</li>
					</ul>
					</div>
				</div>
				<div id="downloads">
				<h2><a href="#downloads">Загрузки</a></h2>
				<ul>
					<li><a href="https://www.dropbox.com/sh/hwefqy9u2v3ozlu/AAD09tmeYo3POkCUpVL52dsOa?dl=0" target="_blank">Исходники программ и демки</a></li>
					<li><a href="https://www.dropbox.com/sh/vae66d7t3nxf07h/AAA-eNhRlNaNqRbHlZAShfPZa?dl=0" target="_blank">Твики реестра и различные настройки для программ</a></li>
				</ul>
					<center><h3>Total Commander v8.5 ins[pack]_32/64</h3></center>
					<p>						
						TotalCommander популярный файловый менеджер с очень удобными встроенными плагинами для мультимедиа и графических файлов, распаковщиками, встроенным ftp-клиентом, UUE/MIME/XXE кодирование/декодирование, разрезка/склейка длинных файлов, а также множество других, крайне необходимых для работы с файлами. Сборка основана на <a target="_blank" href="http://lmgtfy.com/?q=TC+Extended">TC Extended Lite</a> и предназначена для сисадминов, эникеев, и прочих шаманов ведущих борьбу с ошибками и зловредами системы.<br>
						<p>Большинство программ из сборки требуют определенных знаний, НЕ ЗАПУСКАЙТЕ программы назначение которых вам не понятно, к каждой программе есть описание.</p>
						<a href="https://dl.dropboxusercontent.com/u/76170850/files/TC_RePack_by_Ins/!readme.html" target="_blank">Полный список программ и плагинов сборки</a>
						<br><a href="https://www.dropbox.com/sh/vq3k4h7rp42zcjh/AAD3OUg1uV8aZv2OQFrVKtcea?dl=0">TotalCmd [upd17] - Скачать с Dropbox<img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/cloud-services/dropbox_small.png"/></a>
						<br><a href="https://db.tt/7GbrKr0y" target="_blank">Что нового в этой версии?</a>
					<div class="spoiler-head">Показать предыдущие версии</div>
					<div class="spoiler-body">
						<ul>
							<li><a href="https://www.dropbox.com/sh/l3hiew0tcnjpp1a/AADCGg0DCtmY_yKwcrRQWnIDa?dl=0">TotalCmd [upd16] - Скачать с Dropbox<img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/cloud-services/dropbox_small.png"/></a></li>						
							<li><a href="https://dl.dropboxusercontent.com/u/76170850/files/TC_RePack_by_Ins/Archive/TotalCmd_%5Bupd15%5D.exe">TotalCmd [upd15] - Скачать с Dropbox<img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/cloud-services/dropbox_small.png"/></a></li>						
							<li><a href="https://dl.dropboxusercontent.com/u/76170850/files/TC_RePack_by_Ins/Archive/TotalCmd_%5Bupd14%5D.exe">TotalCmd [upd14] - Скачать с Dropbox<img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/cloud-services/dropbox_small.png"/></a></li>							
						<ul>
					</div>
					</p>
					Скриншоты:
					<div id="screens">
					<p><center>
						<a href="https://dl.dropboxusercontent.com/u/76170850/site/static/images/fullscreen/1.png" rel="prettyPhoto[pp_gal]"><img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/thumbnails/t_1.jpg" width="160" height="120" alt="" /></a>
						<a href="https://dl.dropboxusercontent.com/u/76170850/site/static/images/fullscreen/2.jpg" rel="prettyPhoto[pp_gal]"><img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/thumbnails/t_2.jpg" width="160" height="120" alt="" /></a>
						<a href="https://dl.dropboxusercontent.com/u/76170850/site/static/images/fullscreen/3.jpg" rel="prettyPhoto[pp_gal]"><img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/thumbnails/t_3.jpg" width="160" height="120" alt="" /></a>
						<a href="https://dl.dropboxusercontent.com/u/76170850/site/static/images/fullscreen/4.jpg" rel="prettyPhoto[pp_gal]"><img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/thumbnails/t_4.jpg" width="160" height="120" alt="" /></a>
						<a href="https://dl.dropboxusercontent.com/u/76170850/site/static/images/fullscreen/5.jpg" rel="prettyPhoto[pp_gal]"><img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/thumbnails/t_5.jpg" width="160" height="120" alt="" /></a>
						<a href="https://dl.dropboxusercontent.com/u/76170850/site/static/images/fullscreen/6.jpg" rel="prettyPhoto[pp_gal]"><img src="https://dl.dropboxusercontent.com/u/76170850/site/static/images/thumbnails/t_6.jpg" width="160" height="120" alt="" /></a>
					</p></center>
					</div>
					<blockquote>
						<p>
							<b><a href="https://dl.dropboxusercontent.com/u/76170850/files/TC_RePack_by_Ins/TotalCmd_%5Bupd16%5D/TotalCmd_%5Bupd16%5D.md5">MD5</a></b>: 583f1dd499917f57c17799406b6b0bb
							<br>
							<b><a href="https://dl.dropboxusercontent.com/u/76170850/files/TC_RePack_by_Ins/TotalCmd_%5Bupd16%5D/TotalCmd_%5Bupd16%5D.sfv">CRC32</a></b>: 146D7A89
						</p>
					</blockquote>
				</div>
{% endblock %}
